body {
  font-family: helvetica, sans-serif;
  background-color: lightblue;
  margin: 0;
}

#header {
  padding: 30px;
}

/*     ARROW     */

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

/*       BUTTONS    */

img {
  cursor: pointer;
}

.infoBTN,
.deleteBTN {
  background-color: Transparent;
  border: none;
}

.infoBTN,
.deleteBTN {
  width: 10%;
  float: right;
}

.deleteBTN {
  width: 10%;
}

#sorting button {
  width: 20%;
  padding: 1em;
  margin: 20px;
  background-color: lightblue;
  border: solid 1px white;
}
#sorting button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.3s ease;
}

/*        TABLE       */

th,
td {
  text-align: left;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 50px;
  background-color: white;
}

td {
  background-color: rgba(255, 255, 255, 0.6);
}

tr:hover {
  background-color: lightgray;
}
/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(even):hover {
  background-color: lightgray;
}
*/
/*        MODAL      */
img {
  width: 40%;
  justify-self: right;
  align-self: center;
}
.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrap h1 {
  align-self: center;
}

#modal_container {
  position: fixed;
  width: 100vw;
  height: 100vh;

  z-index: 3;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
#modal_window {
  max-width: 80vw;
  background: white;
  margin: auto;
  padding: 1.5em;
  border: lightblue 2px solid;
}

#closebutton {
  cursor: pointer;
}

/*     ANIMATION     */

/*.fly_out {
  animation-name: fly_out_kf;
  animation-duration: 1s;
  animation-iteration-count: forwards;
}

@keyframes fly_out_kf {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-105%);
    transition: transform 1s;
  }
}*/
